<a href="https://colab.research.google.com/github/Dang3rK1LL/RF_Soforok/blob/master/Beadando_csapatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #1 importok G
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data = pd.read_csv('heart_attack_prediction_dataset.csv')
data
#1 Orivér

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [ ]:
print(f"{len(data['Country'].unique())} országból vannak páciensek")
#2 eloszor csak len data country.unique, és azután printtel O

20 országból vannak páciensek

In [ ]:
table = data.groupby('Country')['Patient ID'].count()
table
#1 G

Country
Argentina         471
Australia         449
Brazil            462
Canada            440
China             436
Colombia          429
France            446
Germany           477
India             412
Italy             431
Japan             433
New Zealand       435
Nigeria           448
South Africa      425
South Korea       409
Spain             430
Thailand          428
United Kingdom    457
United States     420
Vietnam           425
Name: Patient ID, dtype: int64

In [ ]:
avg = np.mean(table)
med = np.median(table)
szor = np.std(table) #1 G
print(f"Átlag: {avg}")
print(f"Medián: {med}")
print(f"Szórás: {szor}") #2 G

Átlag: 438.15
Medián: 434.0
Szórás: 17.813688556837405

In [ ]:
table2 = data.groupby('Country')['Heart Attack Risk'].sum()/data.groupby('Country')['Heart Attack Risk'].count()
table2
#2 eloszor sum, azután az osztas G

Country
Argentina         0.369427
Australia         0.374165
Brazil            0.352814
Canada            0.359091
China             0.355505
Colombia          0.377622
France            0.352018
Germany           0.360587
India             0.313107
Italy             0.315545
Japan             0.332564
New Zealand       0.347126
Nigeria           0.397321
South Africa      0.338824
South Korea       0.398533
Spain             0.348837
Thailand          0.376168
United Kingdom    0.350109
United States     0.395238
Vietnam           0.348235
Name: Heart Attack Risk, dtype: float64

In [ ]:
avg2 = np.mean(table2)
med2 = np.median(table2)
szor2 = np.std(table2) #1 G
print(f"Átlag: {np.round(avg2*100, 2)}%")
print(f"Medián: {np.round(med2*100, 2)}%")
print(f"Szórás: {np.round(szor2*100, 2)}%") #3 G

Átlag: 35.81%
Medián: 35.42%
Szórás: 2.34%

In [ ]:
#'Blood Pressure' oszlop kezelése
try:
    data[['Systolic', 'Diastolic']] = data['Blood Pressure'].str.split('/', expand=True).astype(float)
    features = ['Age', 'Cholesterol', 'Systolic', 'Diastolic'] #1 O
except AttributeError:
    features = ['Age', 'Cholesterol', 'Blood Pressure'] #1 O

target = 'Heart Attack Risk'
X = data[features]
y = data[target] #1 O

# Training és teszt adatokra bontás
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #1 O

model = LogisticRegression()
model.fit(X_train, y_train) #1 O

# Prediction
y_pred = model.predict(X_test) #1 O

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy}") #2 O

Model Accuracy: 0.6417569880205363